---
layout: empty
---

<div class="header-container">
	<header class="wrapper">
		<a href="/">
			<h1 class="title">{{ site.title }}</h1>
		</a>
	</header>
</div>

<div class="main-container">
	<div class="main wrapper">
		{{content}}
	</div>
</div>

<div class="footer-container">
	<footer class="wrapper">
		<a class="silent" href="https://mattrubin.me">&copy; 2010-2016 Matt Rubin</a>
		<a id="source-link" href="https://github.com/mattrubin/mattrubin.me/tree/source/{{ page.path }}">Source</a>
	</footer>
</div>
